	
	<div class="jumbotron">
		<div class="panel panel-default">
  			<div class="panel-body">
		  		<h1>Your Top Status </h1>
		  		<p></p>
		  		<p><%= link_to "Submit Now!", "submit", class: "btn btn-primary btn-lg" %></p>
		  	</div>
		</div>
	</div>