	
<% render="_home.html.erb" %>
	<div class="jumbotron">
		<div class="panel panel-default">
  			<div class="panel-body">
		  		<h1>Your Top Status </h1>
		  		<p></p>
		  		<p><a class="btn btn-primary btn-lg" role="button">Submit now!</a></p>
		  	</div>
		</div>
	</div>